body {
    margin: 0px;
    height: auto;
    width: 100%;
    font-family: verdana;
    background-image: url(Image/FlecheMenu3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #d8dad7;
}

header {
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

.ImagePaiement {
    margin-right: 30px;
    margin-top: 10px;
}

.ImagePaiementTop {
    border-radius: 10px;
}

.BlocConnectezvous {
    margin-top: 110px;
    margin-left: 100px;
}

.Connectezvous {
    Font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.Connectezvous2 {
    background-color: rgb(0, 32, 96);
    width: 300px;
    color: white;
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin-top: 0%;
    font-size: 20px;
    margin-left: 5px;
}

.Connectezvous2 u {
    font-size: 14px;
}

section {
    margin-top: 5%;
    height: 210px;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 32, 96), 31%, white, rgb(0, 32, 96));
}

.ImageNavDroite {
    color: rgb(161, 77, 7);
    font-family: verdana;
    text-align: center;
    margin-left: 30%;
    padding-top: 10px;
    font-size: 20px;
}

.LogoCpgd {
    height: 90px;
    margin-right: 40px;
}

section ul {
    display: flex;
    margin-top: 35px;
    float: right;
}

section li {
    width: 190px;
    height: 45px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    list-style-type: none;
    background: linear-gradient(135deg, rgb(0, 32, 96), 80%, white);
    position: relative;
    bottom: 13px;
}

li p {
    text-align: center;
    font-size: 15px;
    padding-top: 11px
}

a:hover {
    color: rgb(161, 77, 7);
}

.FondInverse {
    background: linear-gradient(-135deg, rgb(0, 32, 96), 80%, white)
}

section nav a {
    text-decoration: none;
    color: whitesmoke;
}

footer {
    width: 100%;
    padding-top: 16%;
    display: flex;
    justify-content: space-around;
}

footer p {
    padding-top: 20px;
}

footer a {
    text-decoration: none;
    color: rgb(0, 32, 96);
}

footer a:hover {
    color: rgb(161, 77, 7);
}


/* Responsiv TABLETTE */

@media(min-width: 1101px) and (max-width :1366px) {
    body {
        width: auto;
        background-image: url(Image/FlecheMenu2.png);
    }
    .ImageNavDroite {
        margin-left: 5%
    }
    .BlocConnectezvous {
        margin-left: 30px;
    }
    section {
        height: 208px;
    }
    section li {
        width: 150px;
        padding: auto;
    }
    li p {
        font-size: 13px;
    }
}

@media(min-width: 961px) and (max-width :1100px) {
    body {
        width: auto;
        background-image: url(Image/FlecheMenu2.png);
    }
    .LogoCpgd {
        height: 80px;
    }
    .ImageNavDroite {
        margin-left: 5%
    }
    .BlocConnectezvous {
        margin-left: 30px;
    }
    section {
        height: 196px;
    }
    section li {
        width: 135px;
        padding: auto;
    }
    li p {
        font-size: 11px;
        padding-top: 15px;
    }
    footer p {
        padding-top: 60px;
        font-size: 14px;
    }
}

@media(min-width: 730px) and (max-width :960px) {
    body {
        width: auto;
        background-image: url(Image/FlecheMenu2.png);
    }
    .LogoCpgd {
        height: 60px;
    }
    .ImageNavDroite {
        margin-left: 5%
    }
    .BlocConnectezvous {
        margin-left: 30px;
    }
    section {
        height: 175px;
    }
    section li {
        width: 105px;
    }
    li p {
        font-size: 10px;
        padding-top: 15px;
    }
    .paddingonglet {
        padding-top: 10px;
    }
    footer p {
        padding-top: 100px;
        font-size: 13px;
    }
}


/* Responsiv Mobile */

@media(max-width :730px) {
    body {
        width: auto;
        margin: 0%;
        background-image: url(Image/FlecheMenu2.png);
    }
    .LogoCpgd {
        height: 60px;
    }
    header {
        justify-content: safe;
    }
    .BlocConnectezvous {
        margin-left: 5px;
        width: 150px;
        display: none;
    }
    .Connectezvous {
        font-size: 11px;
        margin-left: 10px;
    }
    .Connectezvous2 {
        width: 150px;
        font-size: 13px;
    }
    .ImageNavDroite {
        margin: auto;
    }
    .ImageNavDroite strong {
        font-size: 13px;
    }
    .ImagePaiement {
        position: initial;
    }
    .ImagePaiementTop {
        width: 80px;
        margin-left: 10px;
    }
    .ImagePaiementBottom {
        width: 100px;
    }
    section {
        height: 130px;
        background: linear-gradient(to right, rgb(0, 32, 96), 20%, white, rgb(0, 32, 96));
    }
    section ul {
        flex-direction: column;
        float: none;
        margin-top: 30px;
        margin-right: 50px;
        ;
    }
    section li {
        margin: auto;
        position: initial;
    }
    .FondInverse {
        background: linear-gradient(135deg, rgb(0, 32, 96), 80%, white);
    }
    footer {
        flex-direction: column;
        margin-top: 520px;
        font-size: 14px;
        background-color: rgb(0, 32, 96);
        padding-top: 5%;
        color: whitesmoke;
    }
    footer a {
        color: whitesmoke;
    }
}